<!doctype html>
<html>
	<head lang="en">
		<meta charset="utf-8">
		<title>URL Shortener API</title>
		<style>
			pre{
				white-space: pre-line;
				background: #eee;
				display: inline-block;
				min-width: 300px;
				padding: 5px 16px 5px 16px;
				line-height: 1.5em;
				font-size: 1.1em;
			}
		</style>
	</head>
	<body>
		<h1>URL Shortener API</h1>
		
		<table>
			<tr><td><a href="#1">1. Shorten URL</a></td></tr>
			<tr><td><a href="#1.1">1.1 Parameters</a><td></tr>
			<tr><td><a href="#1.2">1.2 Success Response</a></td></tr>
			<tr><td><a href="#1.3">1.3 Error Response</a></td></tr>
			<tr><td><a href="#2">2. Retrieve Full URL</a></td></tr>
			<tr><td><a href="#2.1">2.1 Parameters</a><td></tr>
			<tr><td><a href="#2.2">2.2 Success Response</a></td></tr>
			<tr><td><a href="#2.3">2.3 Error Response</a></td></tr>
			<tr><td><a href="#3">3. Open Source</a></td></tr>
		</table>

		<h2 id="1">1. Shorten URL</h2>
		<pre>
		POST /urlshortener/v1/url HTTP/1.1
		Host: {{.Host}}
		Content-Type: application/json;charset=utf8

		{"longUrl":"http://www.example.com"}
		</pre>
		<h3 id="1.1">Parameters</h3>
		<ul>
			<li><code><strong>longUrl</strong></code>: URL to be shortened</li>
		</ul>
		<h3 id="1.2">Success Response</h3>
		<pre>
		HTTP/1.1 200 OK
		Content-Type: application/json;charset=utf-8

		{
			"longUrl":"http://www.example.com",
			"shortUrl":"http://{{.Host}}/1jQkUy"
		}
		</pre>
		<p>Performing a GET request with the <code>shortUrl</code> redirects to the <code>longUrl</code>.</p>
		<h3 id="1.3">Error Response</h3>
		<pre>
		HTTP/1.1 400 Bad Request
		Content-Type: application/json;charset=utf-8
		
		{"error":"url must be absolute"}
		</pre>
		<p>API does not support shortening relative URLs.</p>
		<h2 id="2">2. Retrieve Full URL</h2>
		<pre>
		GET /urlshortener/v1/url?shortUrl=http://{{.Host}}/1jQkUy HTTP/1.1
		Host: {{.Host}}
		</pre>
		<h3 id="2.1">Parameters</h3>
		<ul>
			<li><code><strong>shortUrl</strong></code>: Shortened URL</li>
		</ul>
		<h3 id="2.2">Success Response</h3>
		<pre>
		HTTP/1.1 200 OK
		Content-Type: application/json;charset=utf-8

		{
			"longUrl":"http://www.example.com",
			"shortUrl":"http://{{.Host}}/1jQkUy"
		}
		</pre>
		<h3 id="2.3">Error Response</h3>
		<pre>
		HTTP/1.1 404 Not Found
		Content-Type: application/json;charset=utf-8
		
		{"error":"Not Found"}
		</pre>
		<h2 id="3">3. Open Source</h2>
		<p>This project is open-source. The source code can be found <a href="http://www.github.com/w-k-s/UrlShortener">here</a>.</p>
		<small>&copy; Waqqas Sheikh 2018</small>
	</body>
</html>